# --- macOS ---
._*
.DS_Store
.DS_Store?

# --- Python ---
.env
venv/
.venv/
*.py[cod]
*$py.class
__pycache__/

# --- Jupyter ---
*.ipynb_checkpoints

# --- Cursor ---
.claude/
.vscode/
.cursorindexingignore
RailSense.code-workspace

# --- Additional Directories ---
data/
wandb/
output/
markdowns/

# --- Additional Files ---
test.ipynb
commit_msg.txt


